/Date.class
/ID.class
/Book.class
/Course.class
/CourseStudent.class
/Lesson.class
/Message.class
/News.class
/Party.class
/Request.class
/Schedule.class
/Time.class
/Transcript.class
/testClass.class
/Mark.class
/StudentCourse.class
/TeacherCourse.class
